// Colors
$color-grey1: #b8b8b8;
$color-grey2: #808080;
$color-grey3: #636363;
$color-white: #ffffff;
$color-black: #000000;
$color-blue1: #4d9fc0;
$color-blue2: #145772;
$color-red: #ff0000;
$color-green: #008000;

// General
$border-radius: 5px;