.PhoneInput {
  
    &Input {
        padding: .25rem .15rem;
        outline: none;
        border: 1px solid $color-grey1;
    }

    &Input:focus {
        border: 1px solid rgba($color-blue2, 1);
    }    
}